<div class="block">
    <h2>Product Listing</h2>

        <div class="grid-container ">
            {{#each lists}}
                <div>
                    {{this.title}}
                </div>

                <div>
                    <a href="/product/edit/{{this._id}}">Edit</a>
                </div>

            {{else}}
                No tasks in database
            {{/each}}

        </div>

</div>